div.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 120px;
    border: 2px solid chartreuse;
    position: sticky;
    top: 0px;

    & > div.right, div.left {
        height: 100%;
        display: flex;
        border: 2px solid green;

        & > h4 > a {
            text-decoration: none;
        }

        & > * {
            margin: 10px;
        }
    }

    & > div.left {
        display: flex;
        justify-content: center;
        align-items: center;

        & > h4 > a {
            font-weight: bold;
            font-size: 27px;
        }
    }

    & > div.right {
        display: flex;
        right: 0px;
        position: absolute;
        border: 2px solid violet;
        width: 200px;
        justify-content: center;
        align-items: center;

        & div {
            border: 2px solid blue;
            display: flex;
            justify-content: center;
            width: 100%;
            height: 60px;
            box-sizing: border-box;

            & > button {
                width: 70%;
                background-color: blue;
                border-radius: 20px;
                border: none;
            }

            & > div.icon_container {
                border: 2px solid green;
                border-radius: 100%;
                width: 50px;
                display: grid;
                place-items: center;
                height: auto;
            }

            & * {
                margin: 10px;
            }
        }
    }
}