div.container {
    & > div.text {
        display: block;
    }

    & > div.box {
        //border: 2px solid blue;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 100px;

        & > div.text {
            width: 60%;
            height: auto;
        }

        & > div.box_image {
            width: 120px;
            height: auto;
            position: relative;

            img {
                object-fit: fill;
                background-size: 100% 100%;
            }
        }
    }
}
//send_desktop_layer_02.webp
//assets_nav_send.webp, send_desktop_layer_01.webp
div.box {
    border: 1px solid white;
    display: flex;
    height: 100px;
    width: 300px;
    border-radius: 15px;
    //font-size: 10px;

    & > div.box_text {
        flex-basis: 55%;
        //border: 2px solid navajowhite;
        //display: grid;
        //place-items: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;


        & > span {
            font-size: 15px;
            font-weight: bold;
            width: 100px;
            height: 30px;
            //border: 2px solid yellow;
        }

        & > span:nth-child(1) {
            display: flex;
            //fo
            align-items: flex-end;
        }
    }

    & > div.box_image {
        flex-basis: 40%;
        display: grid;
        place-items: center;
        font-weight: normal;
        overflow: hidden;
        margin: 5px;
        //border: 2px solid bisque;

        img {
            width: 100%;
            height: 100%;
            border-radius: 12px;
            box-sizing: border-box;
            //border: 2px solid blue;
        }
    }
}
