body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Quicksand';
  src: url('./asset/fonts/CashMarket-Medium.woff2') format('woff2'),
    url('./asset/fonts/CashMarket-Bold.woff2') format('woff2'),
    url("./asset/fonts/CashMarket-Regular.woff2"),
    url('./asset/fonts/PP-Agrandir-Wide-Variable.woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: MyFont;
  src: url('./asset/fonts/PP-Agrandir-Wide-Variable.woff2');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

*,
  *::before,
  *::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  overflow: auto;
  max-width: 100vw;
}
